<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}GoldenForex{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('dist/frontend.css') }}" />
</head>
<body>
<div class="page-header">
    <div class="container">
        <div class="grid">
            <a href="/" class="logo"><img src="{{ asset('assets/images/logo.png') }}" alt="GOLDENForex" /></a>
            <ul class="header-links">
                <li><a href="{{ url('trade') }}" class="{% if app.request.attributes.get('_route') starts with 'trade' %}active{% endif %}">Торговля</a></li>
                <li><a href="{{ url('guide.show') }}" class="{% if app.request.attributes.get('_route') starts with 'guide' %}active{% endif %}">Инструкции</a></li>
            </ul>
            <div class="pull-right">
                {% if is_granted('ROLE_USER') %}
                <div class="wallet">
                    <span id="wallet-amount">{{ app.user.balance }} $</span><!--
                    --><a href="{{ url('trade') }}" class="refill">Пополнить счёт</a>
                </div>
                {% endif %}
                <ul class="header-links">
                    {% if is_granted('ROLE_USER') %}
                    <li>Здравствуйте, <span class="text-blue client-data">{{ app.user.firstName }} {{ app.user.lastName }} <span class="client-id">Номер клиента: {{ app.user.id }}</span></span></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="/admin">Админпанель</a></li>
                    {% endif %}
                    <li><a href="{{ url('logout') }}">Выйти</a></li>
                    {% else %}
                    <li><a href="{{ url('registration') }}" class="{% if app.request.attributes.get('_route') starts with 'authorization.registration' %}active{% endif %}">Регистрация</a></li>
                    <li><a href="{{ url('login') }}" class="{% if app.request.attributes.get('_route') starts with 'authorization.login' %}active{% endif %}">Авторизация</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-content container {% block pageClass %}{% endblock %}">
    <div class="page-content-container container">
        {% block content %}<h1>404 - Not found</h1>{% endblock %}
    </div>
</div>
<script>
    window.currentPage = '{{ app.request.attributes.get('_route') }}';
    {% if is_granted('ROLE_USER') %}
    window.apiKey = '{{ app.user.apiKey }}';
    {% endif %}
    window.websocketServer = {
      host: '{{ parser_websocket_server_host }}',
      port: '{{ parser_websocket_server_port }}'
    };
</script>
{% block js %}{% endblock %}
<script src="http://{{ parser_websocket_server_host }}:{{ parser_websocket_server_port }}/socket.io/socket.io.js"></script>
<script src="{{ asset('dist/frontend.bundle.js') }}"></script>
</body>
</html>
